* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --color-body: #fafaf9;
  --color-card: #ffffff;
  --font: "Sora", sans-serif;
  --color-text: #20293a;
  --color-parag: #6c727f;
  --grey: #E5EAF0;
  --purple-light: #E6D6FC;
  --purple-dark: #883AE1;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--color-body);
  font-family: var(--font);
}

.container {
  width: 368px;
  height: 368px;
  border-radius: 1rem;
  background-color: var(--color-card);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.image{
    height: 152px;
    border-radius: 1rem;
    background-image: url('../image/cactus_img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag{
    background-color: var(--purple-light);
    color: var(--purple-dark);
    font-size: .75rem;
    width: 70px;
    height: 20px;
    padding: 2px;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
}

.title{
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--color-text);
}

.paragraph{
    font-size: .875rem;
    color: var(--color-parag);
    line-height: 1.5;
    letter-spacing: 1px;
}

hr{
    width: 100%;
    border:1px solid var(--grey);
}

.autor{
    color: var(--color-parag);
}